.main{
    background-color: #007ced;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.d1{
    height: auto;
    width: 1410px;;
    background-color: white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    
    
}
.d1:hover{
    box-shadow: 0 0 50px white ;
}
.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;

}
.cdiv{
    background-color: white;
    border: solid 2px #007ced;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    height: 100px;
    width: 800px;
    align-items: center;
    font-size: 25px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    transition: 0.4s;
   
    
}
.cdiv:hover{
    background-color: #007ced ;
    color: white;
    box-shadow: 0 0 20px #007ced ;
    height:120px ;
    width: 850px;

}

.h1{
    margin-left: 50px;
    margin-top:50px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.h2{
    margin-left: 50px;
    margin-top:50px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 00;
    font-style: normal;
}
.n{
    text-decoration: none;
    color: gray;
    margin-left:30px;
    transition: 0.3s ease-in-out;
    font-size: 25px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    
}
.np{
    text-decoration: none;
    color: #007ced;
    margin-left:30px;
    font-size: 25px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

}
.n:hover{
    color: #007ced;
    text-shadow: 0 0 10px rgb(78, 164, 255);
    letter-spacing: 0.1em;
}
.nav{
    margin-left: 50%;
    margin-bottom: 10%;
}
.c1{
    padding-left: 20px;
    text-decoration: none;
}
.gg{
    text-decoration: none;
}
